#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  /* background-color: #4CAF50; */
  color: white;
  text-align: center;
  padding: 1rem;
}

footer {
  /* background-color: #f1f1f1; */
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.horizontal-layout {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
}

.form-group {
  flex: 1;
  min-width: 150px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

select, input, .div-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.div-input {
  background-color: #fff;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.submit-btn {
  margin-top: 1rem;
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
}

.input-error {
  border: 2px solid red;
}

.submit-btn .disabled {
  background-color: #2b2727ff;
  cursor: not-allowed;
}